<nav>
    <ul class="nav nav-pills">
        <li><a href={{ path('matches_add') }}>Add a match</a></li>
        <li><a href={{ path('players_index') }}>Player list</a></li>
        <li><a href={{ path('departments_index') }}>Departments</a></li>
    </ul>
</nav>